<!DOCTYPE html>
<html>
<head>
    <title>Formulario de Calificación</title>
</head>
<body>
    <h1>Formulario de Calificación</h1>
    <form method="POST" action="/calificaciones">
        <label for="calificacion">Calificación:</label>
        <input type="number" id="calificacion" name="calificacion" step="0.1" min="0" max="5" required><br><br>

        <label for="idhabitacion">ID de Habitación:</label>
        <input type="number" id="idhabitacion" name="idhabitacion" required><br><br>

        <input type="submit" value="Calificar">
    </form>
</body>
</html>
